langgraph
langchain_community
langchain_core
tavily-python
wikipedia
langchain_openai
langchain-google-genai
langchain_groq
python-docx
reportlab
fastapi==0.120.0
uvicorn==0.38.0
jinja2==3.1.6
httpx==0.28.1
aiofiles>=23.2.1
sqlalchemy==2.0.43
bcrypt==3.2.2
passlib==1.7.4
python-multipart
structlog
colorlog